<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mbr-additional.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/tether.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/css/styles.css"/>



</head>
<body>

 <section class="menu menu1 cid-suDTyNTPTU" once="menu" id="menu1-2">


    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">

                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="http://127.0.0.1:8080"><img src="https://x-lines.ru/letters/i/cyrillicscript/0476/ffffff/26/0/eisgaamrcr.png">
</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true" id="nnavv">
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="http://127.0.0.1:8080">
                            About Crete</a>
                        <ul>
                            <li><a class="text-black display-4" href="/top">Достопримечательности</a></li>
                            <li><a class="text-black display-4" href="/">Суперкоманда</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="http://127.0.0.1:8080/login">
                            Login</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="http://127.0.0.1:8080/register">
                        Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
    <main role="main" class="container">
    {% block content %}{% endblock %}
    </main>
</body>
</html>